################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LagoMotors/DesignTimeBuild
/.vs/LagoMotors/config
/.vs/config
/.vs/LagoMotors/v15/Server/sqlite3
/.vs/LagoMotors/v15
/.vs/LagoMotors/v16